* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0fff0;
}

.page-wrapper {
  max-width: 1000px;
  margin: auto;
}
.footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #e6ffe6;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.footer a {
  text-align: center;
  flex: 0 0 100px; 
  padding: 10px;
  background-color: #c2f0c2;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 2px solid #ccc;
  border-bottom: none;
  gap: 20px;
}

.benefits p {
  flex: 0 0 70%;
}
.benefits h3 {
  flex: 0 0 30%;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  background-color: #d6f5d6;
  padding: 10px;
  border-radius: 5px;
}
.participation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: none;
  border-bottom: 2px solid #ccc;
  gap: 20px;
}

.participation h3,
.participation p {
  flex: 0 0 50%;
}
.participation h3 {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  background-color: #d6f5d6;
  padding: 10px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .benefits,
  .participation {
    flex-direction: column;
  }

  .benefits p,
  .benefits h3,
  .participation h3,
  .participation p {
    flex: 1 1 100%;
    text-align: center;
  }
  .footer a {
    flex: 0 0 40%;
  }
}