body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fefbd8;
}
a {
  color: #f76c6c;      /* destaque */
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #b54343;      /* tom mais escuro */
}
a:visited {
  color: #a94442;
  font-weight: normal;
}

#zen-supporting p:first-of-type::first-letter {
  font-size: 300%;
  font-family: 'Georgia', serif;
  float: left;
  padding-right: 8px;
  line-height: 1;
}

#design-selection li {
  border-top: 1px solid #ccc; /* borda superior em todos */
  padding: 10px 0;
}

#design-selection li:last-child {
  border-bottom: 1px solid #ccc; /* borda inferior no último */
}